In [1]:
people={'first':['Corey','Jhon','Jon'],
         'last':['Schafer','Deo','Deo'],
         'email':['corey@mail.com','jhon@mail.com','jon@mail.com']}

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(people)

In [4]:
df

   first     last           email
0  Corey  Schafer  corey@mail.com
1   Jhon      Deo   jhon@mail.com
2    Jon      Deo    jon@mail.com

In [5]:
df.set_index('email')

                first     last
email
corey@mail.com  Corey  Schafer
jhon@mail.com    Jhon      Deo
jon@mail.com      Jon      Deo

In [6]:
df.set_index('email', inplace=True)

In [7]:
df.index

Index(['corey@mail.com', 'jhon@mail.com', 'jon@mail.com'], dtype='object', name='email')

In [9]:
df.loc['corey@mail.com','last']

'Schafer'

In [10]:
df.iloc[0]

first      Corey
last     Schafer
Name: corey@mail.com, dtype: object

In [11]:
df.reset_index(inplace=True)

In [12]:
df

            email  first     last
0  corey@mail.com  Corey  Schafer
1   jhon@mail.com   Jhon      Deo
2    jon@mail.com    Jon      Deo

In [ ]:
k